.Modal {
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal-Body {
    min-width: 300px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Modal-Close {
    margin-right: 6px;
    margin-top: 3px;
    cursor: pointer;
    float: right;
    font-size: 1.21875rem;
    font-weight: 600;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    position: absolute;
    right: 3px;
    top: 1px;
}