// Light Theme
@import "./assets/scss/bootstrap.scss";
@import "./assets/scss/app.scss";

// Dark Theme
// @import "./assets/scss/bootstrap-dark.scss";
// @import "./assets/scss/app-dark.scss";

//RTL Theme
// @import "./assets/scss/bootstrap.scss";
// @import "./assets/scss/app-rtl.scss";


//Icons
@import "./assets/scss/icons.scss";

//Import Custome scss
@import "./assets/scss/custom-style.scss";
html,body{
    -webkit-font-smoothing: antialiased;
}
.DragHandler{

    cursor:move;
    
}
.pointer{

    cursor: pointer;
    
}
.iconhover{
    opacity: .75;
}
.iconhover:hover{
    opacity: 1;
}
.iconfont{
    font-size: 1rem,
}
.btnParent{
    cursor: pointer;
  
  }
  @media screen and (max-width: 768px) {

    .mobileMenuScroll{
            overflow-y: scroll;
        }
  }
  .order-4,
  .caret-4-asc,
  .caret-4-desc {
    text-align: right;
    float: right;
    font-size: 0.9375rem;
    color: #2b3a4b;
}
.table-bordered {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.headingName{
    font-size: 1rem;
}
.react-bootstrap-table th .caret-4-desc::before,
.react-bootstrap-table th .order-4::before,
.react-bootstrap-table th .caret-4-asc::after,
.react-bootstrap-table th .order-4::after{
    opacity: .75;
}
.react-bootstrap-table th .caret-4-desc::before,
.react-bootstrap-table th .caret-4-asc::after
{
    color: var(--primary);

}
