// Light Theme
@import "./assets/scss/bootstrap.scss";
@import "./assets/scss/app.scss";

// Dark Theme
// @import "./assets/scss/bootstrap-dark.scss";
// @import "./assets/scss/app-dark.scss";

//RTL Theme
// @import "./assets/scss/bootstrap.scss";
// @import "./assets/scss/app-rtl.scss";

//Icons
@import "./assets/scss/icons.scss";

//Import Custome scss
@import "./assets/scss/custom-style.scss";

.DragHandler {
    cursor: move;
}
.pointer {
    cursor: pointer;
}
.iconhover {
    opacity: 0.75;
}
.iconhover:hover {
    opacity: 1;
}
.iconfont {
    font-size: 1rem;
}
.btnParent {
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .mobileMenuScroll {
        overflow-y: scroll;
    }
}
